@font-face {
    font-family: Arvo-Bold;
    src: url('../fonts/Arvo/Arvo-Bold.ttf');
}

@font-face {
    font-family: Arvo-BoldItalic;
    src: url('../fonts/Arvo/Arvo-BoldItalic.ttf');
}

@font-face {
    font-family: EB_Garamond;
    src: url('../fonts/EB_Garamond/EBGaramond-Regular.ttf');
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: Arvo-Bold;
    text-align: center;
    color: white;
}

h1.italic, h2.italic, h3.italic, h4.italic, h5.italic, h6.italic, h7.italic {
    font-family: Arvo-BoldItalic;
}

.portrait {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: .75em;
    max-height: 200px;
    width: auto;
}

.no-margin {
    margin: 0 !important;
}

.background {
    margin-bottom: 0;
    background-color: #aeaeae;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.foreground {
    position: absolute;
    top: 0;
    width: 100%;
    margin-bottom: 0;
}

.center-piece {
    height: 90%;
    margin-top: 2.5%;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 08);
    padding: .75em;
}

.center-piece .content {
    text-align: center;
    font-size: 1.2em;
}

.center-piece .content-wrapper {
    padding: .75em 0;
}

.banner {
    height: 95%;
    margin-top: 1.25%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.8);
}

.half-height {
    height: 50%
}

.auto-height {
    height: auto;
}

.full-height {
    height: 100%;
}

html, body {
    color: white;
    font-family: EB_Garamond;
}

html, body, div {
    height: 100%
}

div.outer-pic-wrapper {
    margin-left: auto; 
    margin-right: auto;
    overflow: hidden;
}
div.inner-pic-wrapper {
    position:relative;
    float: right;
    right: 50%;
}
div.inner-pic-wrapper img {
    position: relative; 
    right:-50%;
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.scrollable {
    position: relative;
    z-index: 1;
    overflow: auto;
    margin: 0 10px;
    background: #1976d2 no-repeat;
    background-image: -webkit-radial-gradient(50% 0, farthest-side, rgba(255,255,255,0.6), rgba(0,0,0,0)), -webkit-radial-gradient(50% 100%,farthest-side, rgba(255,255,255,0.6), rgba(0,0,0,0));
    background-image: -moz-radial-gradient(50% 0, farthest-side, rgba(255,255,255,0.6), rgba(0,0,0,0)), -moz-radial-gradient(50% 100%,farthest-side, rgba(255,255,255,0.6), rgba(0,0,0,0));
    background-image: radial-gradient(farthest-side at 50% 0, rgba(255,255,255,0.6), rgba(0,0,0,0)), radial-gradient(farthest-side at 50% 100%, rgba(255,255,255,0.6), rgba(0,0,0,0));
    background-position: 0 0, 0 100%;
    background-size: 100% 14px;
}

.scrollable:before, .scrollable:after {
    content: "";
    position: relative;
    z-index: -1;
    display: block;
    height: 30px;
    margin: 0 0 -30px;
    background: -webkit-linear-gradient(top,#1976d2,#1976d2 30%,rgba(255,255,255,0));
    background: -moz-linear-gradient(top,#1976d2,#1976d2 30%,rgba(255,255,255,0));
    background: linear-gradient(to bottom,#1976d2,#1976d2 30%,rgba(255,255,255,0));
}

.scrollable:after {
    margin: -30px 0 0;
    background: -webkit-linear-gradient(top,rgba(255,255,255,0),#1976d2 70%,#1976d2);
    background: -moz-linear-gradient(top,rgba(255,255,255,0),#1976d2 70%,#1976d2);
    background: linear-gradient(to bottom,rgba(255,255,255,0),#1976d2 70%,#1976d2);
}